In [3]:
import pandas as pd
import numpy as np
import ast
from tabulate import tabulate
import json
import yaml
import matplotlib.pyplot as plt
import itertools
import dataframe_image as dfi


pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

In [4]:
filename = "REALRUN"  ## insert the name of the file used in the runner.py
df = pd.read_csv(rf"../output/{filename}.csv")

In [5]:
# List of metric names
metric_names = [
    "lift",
    "f1",
    "mse",
    "accuracy",
    "recall",
    "precision",
    "roc_auc",
    "area_under_pr",
    "r2_score",
    "rmse",
]
dataset = df.copy()
# Create columns based on metric names
# Convert string representations to dictionaries
dataset["output_metrics"] = dataset["output_metrics"].apply(ast.literal_eval)
dataset["run_time"] = dataset["run_time"].apply(lambda x: np.round(x / 60, 2))
# Create columns based on metric names
for metric in metric_names:
    dataset[metric] = dataset["output_metrics"].apply(
        lambda x: x.get(metric) if isinstance(x, dict) else np.nan
    )
    dataset[f"{metric}_std"] = dataset[metric].apply(
        lambda x: np.std(x) if isinstance(x, list) else np.nan
    )
    dataset[metric] = dataset[metric].apply(
        lambda x: np.average(x) if isinstance(x, list) else np.nan
    )

base_cols = [
    "dataset",
    "model",
    "run_time",
    "eval_metric",
    "best_score",
    "score_std",
    "output_metrics",
]

base_cols += [i for i in metric_names]
base_cols += [i + "_std" for i in metric_names]

dataset = dataset[base_cols]

In [6]:
tomax = {
    "mse": False,
    "rmse": False,
    "accuracy": True,
    "recall": True,
    "precision": True,
    "roc_auc": True,
    "area_under_pr": True,
    "lift": True,
    "f1": True,
    "r2_score": True,
}


# Define a function to select the first row based on whether to maximize or minimize the "best_score"
def select_first_row(group):
    metric = group["eval_metric"].iloc[0]
    ascending = not tomax.get(
        metric, True
    )  # If metric not in tomax, assume True (maximize)
    return group.sort_values(by="best_score", ascending=ascending).iloc[0]


# Apply the function to each group
filtered_df = dataset.groupby(["dataset", "model", "eval_metric"]).apply(
    select_first_row
)
# Reset the index to get a new DataFrame
filtered_df = filtered_df.reset_index(drop=True)
# Find the rows that maximize the specified metric for each dataset


# Sort the DataFrame based on whether the metric is to be maximized or not
filtered_df["ascending"] = filtered_df["eval_metric"].map(
    {k: not v for k, v in tomax.items()}
)  # Create a new column for ascending order
dfmax = filtered_df.loc[filtered_df["ascending"] == False].sort_values(
    by=["dataset", "eval_metric", "best_score"], ascending=[False, False, False]
)
dfmin = filtered_df.loc[filtered_df["ascending"] == True].sort_values(
    by=["dataset", "eval_metric", "best_score"], ascending=[False, False, True]
)

best_df = pd.concat([dfmax, dfmin])
best_df.drop(columns=["ascending"], inplace=True)

best_df.head(100)

,dataset,model,run_time,eval_metric,best_score,score_std,output_metrics,lift,f1,mse,accuracy,recall,precision,roc_auc,area_under_pr,r2_score,rmse,lift_std,f1_std,mse_std,accuracy_std,recall_std,precision_std,roc_auc_std,area_under_pr_std,r2_score_std,rmse_std
6,titanic,xgb,17.53,roc_auc,0.885801,0.027473,"{'recall': [0.7536231884057971, 0.720588235294...",2.482910,0.770295,NaN,0.836106,0.719096,0.830398,0.885801,0.864007,NaN,NaN,0.119197,0.044381,NaN,0.028001,0.052218,0.038224,0.027473,0.028585,NaN,NaN
5,housing,xgb,232.26,r2_score,0.859503,0.006874,"{'mse': [0.1831939792077722, 0.184694181133948...",NaN,NaN,0.186964,NaN,NaN,NaN,NaN,NaN,0.859503,0.432294,NaN,NaN,0.007996,NaN,NaN,NaN,NaN,NaN,0.006874,0.009261
4,heloc,node,53.31,lift,1.732575,0.034667,"{'recall': [0.7252747252747253, 0.697802197802...",1.732575,0.722401,NaN,0.718329,0.702508,0.743740,0.797733,0.796848,NaN,NaN,0.034667,0.007870,NaN,0.004937,0.016570,0.004933,0.004226,0.006841,NaN,NaN
3,diabetes,node,303.69,lift,2.427092,0.072793,"{'recall': [0.5919894366197183, 0.626155878467...",2.427092,0.272623,NaN,0.636411,0.609665,0.175882,0.677912,0.219922,NaN,NaN,0.072793,0.006854,NaN,0.027978,0.035736,0.007003,0.005986,0.008984,NaN,NaN
2,breastcancer,xgb,13.14,f1,0.970797,0.009948,"{'recall': [0.9577464788732394, 0.971830985915...",1.593897,0.970797,NaN,0.963096,0.974765,0.967342,0.990883,0.993944,NaN,NaN,0.010042,0.009948,NaN,0.012884,0.010562,0.023510,0.006623,0.004587,NaN,NaN
1,ageconditions,xgb,12.44,f1,0.758796,0.059911,"{'recall': [0.7272727272727273, 0.636363636363...",5.277273,0.758796,NaN,0.926077,0.674892,0.870961,0.953714,0.867463,NaN,NaN,0.238320,0.059911,NaN,0.017031,0.070103,0.061639,0.029420,0.057470,NaN,NaN
0,adult,xgb,110.29,roc_auc,0.928557,0.001319,"{'recall': [0.638623326959847, 0.6619897959183...",3.871984,0.712984,NaN,0.873683,0.651577,0.787306,0.928557,0.829554,NaN,NaN,0.030450,0.007890,NaN,0.003359,0.009964,0.010002,0.001319,0.003736,NaN,NaN

# Check State of Run

In [7]:
with open("../configuration/experiment_config.yml", "r") as f:
    config = yaml.safe_load(f)

# Extract the necessary information from the configuration file
included_models = [i.lower() for i in config["include_models"]]
included_datasets = [i.lower() for i in config["include_datasets"]]

# Get all combinations of items from the two lists
combinations_possible = list(itertools.product(included_datasets, included_models))


# Get unique combinations based on 'Column1' and 'Column2'
existing_combinations = df[["dataset", "model"]].drop_duplicates()
# Convert the DataFrame to a list of tuples
existing_combinations = [tuple(row) for row in existing_combinations.values]

missing_combos = [i for i in combinations_possible if i not in existing_combinations]
for i in missing_combos:
    print(f"Missing Combination {i}")

Missing Combination ('iris', 'xgb')
Missing Combination ('iris', 'catboost')
Missing Combination ('iris', 'mlp')
Missing Combination ('iris', 'tabnet')
Missing Combination ('iris', 'gate')
Missing Combination ('iris', 'resnet')
Missing Combination ('iris', 's1dcnn')
Missing Combination ('iris', 'categoryembedding')
Missing Combination ('iris', 'fttransformer')
Missing Combination ('iris', 'tabtransformer')
Missing Combination ('iris', 'gandalf')
Missing Combination ('iris', 'autoint')
Missing Combination ('iris', 'node')
Missing Combination ('titanic', 'catboost')
Missing Combination ('titanic', 'mlp')
Missing Combination ('titanic', 'tabnet')
Missing Combination ('titanic', 'gate')
Missing Combination ('titanic', 'resnet')
Missing Combination ('titanic', 's1dcnn')
Missing Combination ('titanic', 'categoryembedding')
Missing Combination ('titanic', 'fttransformer')
Missing Combination ('titanic', 'tabtransformer')
Missing Combination ('titanic', 'gandalf')
Missing Combination ('titanic', 'autoint')
Missing Combination ('titanic', 'node')
Missing Combination ('breastcancer', 'catboost')
Missing Combination ('breastcancer', 'mlp')
Missing Combination ('breastcancer', 'tabnet')
Missing Combination ('breastcancer', 'gate')
Missing Combination ('breastcancer', 'resnet')
Missing Combination ('breastcancer', 's1dcnn')
Missing Combination ('breastcancer', 'categoryembedding')
Missing Combination ('breastcancer', 'fttransformer')
Missing Combination ('breastcancer', 'tabtransformer')
Missing Combination ('breastcancer', 'gandalf')
Missing Combination ('breastcancer', 'autoint')
Missing Combination ('breastcancer', 'node')
Missing Combination ('ageconditions', 'catboost')
Missing Combination ('ageconditions', 'mlp')
Missing Combination ('ageconditions', 'tabnet')
Missing Combination ('ageconditions', 'gate')
Missing Combination ('ageconditions', 'resnet')
Missing Combination ('ageconditions', 's1dcnn')
Missing Combination ('ageconditions', 'categoryembedding')
Missing Combination ('ageconditions', 'fttransformer')
Missing Combination ('ageconditions', 'tabtransformer')
Missing Combination ('ageconditions', 'gandalf')
Missing Combination ('ageconditions', 'autoint')
Missing Combination ('ageconditions', 'node')
Missing Combination ('diabetes', 'xgb')
Missing Combination ('diabetes', 'catboost')
Missing Combination ('diabetes', 'mlp')
Missing Combination ('diabetes', 'tabnet')
Missing Combination ('diabetes', 'gate')
Missing Combination ('diabetes', 'resnet')
Missing Combination ('diabetes', 's1dcnn')
Missing Combination ('diabetes', 'categoryembedding')
Missing Combination ('diabetes', 'fttransformer')
Missing Combination ('diabetes', 'tabtransformer')
Missing Combination ('diabetes', 'gandalf')
Missing Combination ('diabetes', 'autoint')
Missing Combination ('adult', 'catboost')
Missing Combination ('adult', 'mlp')
Missing Combination ('adult', 'tabnet')
Missing Combination ('adult', 'gate')
Missing Combination ('adult', 'resnet')
Missing Combination ('adult', 's1dcnn')
Missing Combination ('adult', 'categoryembedding')
Missing Combination ('adult', 'fttransformer')
Missing Combination ('adult', 'tabtransformer')
Missing Combination ('adult', 'gandalf')
Missing Combination ('adult', 'autoint')
Missing Combination ('adult', 'node')
Missing Combination ('housing', 'catboost')
Missing Combination ('housing', 'mlp')
Missing Combination ('housing', 'tabnet')
Missing Combination ('housing', 'gate')
Missing Combination ('housing', 'resnet')
Missing Combination ('housing', 's1dcnn')
Missing Combination ('housing', 'categoryembedding')
Missing Combination ('housing', 'fttransformer')
Missing Combination ('housing', 'tabtransformer')
Missing Combination ('housing', 'gandalf')
Missing Combination ('housing', 'autoint')
Missing Combination ('housing', 'node')
Missing Combination ('creditcard', 'xgb')
Missing Combination ('creditcard', 'catboost')
Missing Combination ('creditcard', 'mlp')
Missing Combination ('creditcard', 'tabnet')
Missing Combination ('creditcard', 'gate')
Missing Combination ('creditcard', 'resnet')
Missing Combination ('creditcard', 's1dcnn')
Missing Combination ('creditcard', 'categoryembedding')
Missing Combination ('creditcard', 'fttransformer')
Missing Combination ('creditcard', 'tabtransformer')
Missing Combination ('creditcard', 'gandalf')
Missing Combination ('creditcard', 'autoint')
Missing Combination ('creditcard', 'node')
Missing Combination ('heloc', 'xgb')
Missing Combination ('heloc', 'catboost')
Missing Combination ('heloc', 'mlp')
Missing Combination ('heloc', 'tabnet')
Missing Combination ('heloc', 'gate')
Missing Combination ('heloc', 'resnet')
Missing Combination ('heloc', 's1dcnn')
Missing Combination ('heloc', 'categoryembedding')
Missing Combination ('heloc', 'fttransformer')
Missing Combination ('heloc', 'tabtransformer')
Missing Combination ('heloc', 'gandalf')
Missing Combination ('heloc', 'autoint')
Missing Combination ('covertype', 'xgb')
Missing Combination ('covertype', 'catboost')
Missing Combination ('covertype', 'mlp')
Missing Combination ('covertype', 'tabnet')
Missing Combination ('covertype', 'gate')
Missing Combination ('covertype', 'resnet')
Missing Combination ('covertype', 's1dcnn')
Missing Combination ('covertype', 'categoryembedding')
Missing Combination ('covertype', 'fttransformer')
Missing Combination ('covertype', 'tabtransformer')
Missing Combination ('covertype', 'gandalf')
Missing Combination ('covertype', 'autoint')
Missing Combination ('covertype', 'node')

In [8]:
[i for i in missing_combos if "xgb" in i]

[('iris', 'xgb'),
 ('diabetes', 'xgb'),
 ('creditcard', 'xgb'),
 ('heloc', 'xgb'),
 ('covertype', 'xgb')]

In [23]:
[i for i in missing_combos if "node" in i]

[('iris', 'node'),
 ('titanic', 'node'),
 ('breastcancer', 'node'),
 ('ageconditions', 'node'),
 ('adult', 'node'),
 ('housing', 'node'),
 ('creditcard', 'node'),
 ('covertype', 'node')]

In [9]:
best_df["dataset"].value_counts()

dataset
titanic          1
housing          1
heloc            1
diabetes         1
breastcancer     1
ageconditions    1
adult            1
Name: count, dtype: int64

# Execution Time Visualization

In [10]:
# Group by the "dataset" column and aggregate "run_time" using the sum function
hyperopt_evals = 100
num_parallel = 3
efficiency_estimate = 0.8
aggregated_df = best_df.groupby("model")["run_time"].sum().reset_index()
# Rename the aggregated column for clarity
aggregated_df = aggregated_df.rename(columns={"run_time": "sum_run_time"})
aggregated_df["total_search_hours_estimate"] = (
    aggregated_df["sum_run_time"] * 100 / 60 / 3 * 0.8
)
aggregated_df.sort_values("total_search_hours_estimate", ascending=False).head(20)

  model  sum_run_time  total_search_hours_estimate
1   xgb        385.66                   171.404444
0  node        357.00                   158.666667

In [16]:
# Convert DataFrame to ASCII table
class Format:
    end = "\033[0m"
    underline = "\033[4m"


def make_results_table(
    df, dataset_name, display_cols, metric_cols, image_name="", dpi=1200, image_path="/home/boom/sdev/WTabRun/notebooks/tables/",
    image_folder = ""
):
    result_df = df.loc[df["dataset"] == dataset_name].reset_index(drop=True).copy()

    # Create a dictionary to store the indices of the rows with the highest values for each metric column
    max_indices = {}
    for metric in metric_cols:
        max_indices[metric] = result_df[metric].idxmax()

    # Modify all columns with std to include relative std
    result_df["best_score"] = result_df.apply(
        lambda row: f"{row['best_score']:.4f} ± ({row['score_std']:.4f})", axis=1
    )
    for metric in metric_cols:
        result_df[metric] = result_df.apply(
            lambda row: f"{row[metric]:.4f} ± ({row[metric+'_std']:.4f})", axis=1
        )
        # Drop the corresponding std column
        result_df.drop(columns=[metric + "_std"], inplace=True)

    result_df[display_cols].to_csv(rf"{image_path}/{image_folder}/{image_name}.csv")

    return result_df[display_cols]


# Define a custom styling function
def highlight_max_row(s):
    is_max = s == s.max()
    return ["background-color: green" if v else "" for v in is_max]


def highlight_min_row(s):
    is_max = s == s.min()
    return ["background-color: green" if v else "" for v in is_max]

In [17]:
folder = "hyperopt"

# Housing

In [18]:
display_cols = [
    "model",
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
metric_cols = [
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
dataset_name = "titanic"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.style.apply(highlight_max_row, subset=metric_cols, axis=0)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png" , dpi=400)
styled_df

In [19]:
display_cols = ["model", "mse", "r2_score", "rmse"]
metric_cols = ["mse", "r2_score", "rmse"]
dataset_name = "housing"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.style.apply(highlight_max_row, subset=["r2_score"], axis=0).apply(
    highlight_min_row, subset=["mse", "rmse"], axis=0
)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png", dpi=400)
styled_df

In [20]:
display_cols = [
    "model",
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
metric_cols = [
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
dataset_name = "heloc"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.style.apply(highlight_max_row, subset=metric_cols, axis=0)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png", dpi=400)
styled_df

In [21]:
display_cols = [
    "model",
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
metric_cols = [
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
dataset_name = "diabetes"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.style.apply(highlight_max_row, subset=metric_cols, axis=0)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png", dpi=400)
styled_df

In [22]:
display_cols = [
    "model",
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
metric_cols = [
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
dataset_name = "creditcard"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.style.apply(highlight_max_row, subset=metric_cols, axis=0)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png", dpi=400)
styled_df

ValueError: attempt to get argmax of an empty sequence

In [84]:
display_cols = [
    "model",
    "accuracy",
    "roc_auc",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
metric_cols = ["accuracy", "roc_auc", "f1", "recall", "precision", "area_under_pr"]
dataset_name = "adult"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.style.apply(highlight_max_row, subset=metric_cols, axis=0)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png", dpi=400)
styled_df

In [85]:
display_cols = ["model", "accuracy", "f1"]
metric_cols = [
    "accuracy",
    "f1",
]
dataset_name = "iris"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.style.apply(highlight_max_row, subset=metric_cols, axis=0)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png", dpi=400)
styled_df

In [86]:
display_cols = ["model", "accuracy", "f1"]
metric_cols = ["accuracy", "f1"]
dataset_name = "covertype"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.style.apply(highlight_max_row, subset=metric_cols, axis=0)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png", dpi=400)
styled_df

In [87]:
display_cols = [
    "model",
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
metric_cols = [
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
dataset_name = "breastcancer"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.sort_values("f1", ascending=False).style.apply(
    highlight_max_row, subset=metric_cols, axis=0
)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png", dpi=400)
styled_df

In [88]:
display_cols = [
    "model",
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
metric_cols = [
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
dataset_name = "ageconditions"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.sort_values("f1", ascending=False).style.apply(
    highlight_max_row, subset=metric_cols, axis=0
)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png", dpi=400)
styled_df