In [1]:
import pandas as pd
import numpy as np
import ast
from tabulate import tabulate
import json
import yaml
import matplotlib.pyplot as plt
import itertools
import dataframe_image as dfi


pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

In [30]:
filename = "REALRUN"  ## insert the name of the file used in the runner.py
df = pd.read_csv(rf"../output/{filename}.csv")

In [27]:
# List of metric names
metric_names = [
    "lift",
    "f1",
    "mse",
    "accuracy",
    "recall",
    "precision",
    "roc_auc",
    "area_under_pr",
    "r2_score",
    "rmse",
]
dataset = df.copy()
# Create columns based on metric names
# Convert string representations to dictionaries
dataset["output_metrics"] = dataset["output_metrics"].apply(ast.literal_eval)
dataset["run_time"] = dataset["run_time"].apply(lambda x: np.round(x / 60, 2))
# Create columns based on metric names
for metric in metric_names:
    dataset[metric] = dataset["output_metrics"].apply(
        lambda x: x.get(metric) if isinstance(x, dict) else np.nan
    )
    dataset[f"{metric}_std"] = dataset[metric].apply(
        lambda x: np.std(x) if isinstance(x, list) else np.nan
    )
    dataset[metric] = dataset[metric].apply(
        lambda x: np.average(x) if isinstance(x, list) else np.nan
    )

base_cols = [
    "dataset",
    "model",
    "run_time",
    "eval_metric",
    "best_score",
    "score_std",
    "output_metrics",
]

base_cols += [i for i in metric_names]
base_cols += [i + "_std" for i in metric_names]

dataset = dataset[base_cols]

In [28]:
tomax = {
    "mse": False,
    "rmse": False,
    "accuracy": True,
    "recall": True,
    "precision": True,
    "roc_auc": True,
    "area_under_pr": True,
    "lift": True,
    "f1": True,
    "r2_score": True,
}


# Define a function to select the first row based on whether to maximize or minimize the "best_score"
def select_first_row(group):
    metric = group["eval_metric"].iloc[0]
    ascending = not tomax.get(
        metric, True
    )  # If metric not in tomax, assume True (maximize)
    return group.sort_values(by="best_score", ascending=ascending).iloc[0]


# Apply the function to each group
filtered_df = dataset.groupby(["dataset", "model", "eval_metric"]).apply(
    select_first_row
)
# Reset the index to get a new DataFrame
filtered_df = filtered_df.reset_index(drop=True)
# Find the rows that maximize the specified metric for each dataset


# Sort the DataFrame based on whether the metric is to be maximized or not
filtered_df["ascending"] = filtered_df["eval_metric"].map(
    {k: not v for k, v in tomax.items()}
)  # Create a new column for ascending order
dfmax = filtered_df.loc[filtered_df["ascending"] == False].sort_values(
    by=["dataset", "eval_metric", "best_score"], ascending=[False, False, False]
)
dfmin = filtered_df.loc[filtered_df["ascending"] == True].sort_values(
    by=["dataset", "eval_metric", "best_score"], ascending=[False, False, True]
)

best_df = pd.concat([dfmax, dfmin])
best_df.drop(columns=["ascending"], inplace=True)

best_df.head(1)

,dataset,model,run_time,eval_metric,best_score,score_std,output_metrics,lift,f1,mse,accuracy,recall,precision,roc_auc,area_under_pr,r2_score,rmse,lift_std,f1_std,mse_std,accuracy_std,recall_std,precision_std,roc_auc_std,area_under_pr_std,r2_score_std,rmse_std
51,titanic,xgb,17.53,roc_auc,0.885801,0.027473,"{'recall': [0.7536231884057971, 0.720588235294...",2.48291,0.770295,NaN,0.836106,0.719096,0.830398,0.885801,0.864007,NaN,NaN,0.119197,0.044381,NaN,0.028001,0.052218,0.038224,0.027473,0.028585,NaN,NaN

# Check State of Run

In [5]:
with open("../configuration/experiment_config.yml", "r") as f:
    config = yaml.safe_load(f)

# Extract the necessary information from the configuration file
included_models = [i.lower() for i in config["include_models"]]
included_datasets = [i.lower() for i in config["include_datasets"]]

# Get all combinations of items from the two lists
combinations_possible = list(itertools.product(included_datasets, included_models))


# Get unique combinations based on 'Column1' and 'Column2'
existing_combinations = df[["dataset", "model"]].drop_duplicates()
# Convert the DataFrame to a list of tuples
existing_combinations = [tuple(row) for row in existing_combinations.values]

missing_combos = [i for i in combinations_possible if i not in existing_combinations]
for i in missing_combos:
    print(f"Missing Combination {i}")

Missing Combination ('iris', 'catboost')
Missing Combination ('iris', 'resnet')
Missing Combination ('iris', 'fttransformer')
Missing Combination ('titanic', 'catboost')
Missing Combination ('titanic', 'resnet')
Missing Combination ('breastcancer', 'catboost')
Missing Combination ('breastcancer', 'tabnet')
Missing Combination ('breastcancer', 'gate')
Missing Combination ('breastcancer', 'resnet')
Missing Combination ('breastcancer', 's1dcnn')
Missing Combination ('breastcancer', 'fttransformer')
Missing Combination ('ageconditions', 'catboost')
Missing Combination ('ageconditions', 'tabnet')
Missing Combination ('ageconditions', 'gate')
Missing Combination ('ageconditions', 'resnet')
Missing Combination ('ageconditions', 's1dcnn')
Missing Combination ('ageconditions', 'fttransformer')
Missing Combination ('ageconditions', 'autoint')
Missing Combination ('diabetes', 'catboost')
Missing Combination ('diabetes', 'mlp')
Missing Combination ('diabetes', 'tabnet')
Missing Combination ('diabetes', 'gate')
Missing Combination ('diabetes', 'resnet')
Missing Combination ('diabetes', 's1dcnn')
Missing Combination ('diabetes', 'fttransformer')
Missing Combination ('diabetes', 'tabtransformer')
Missing Combination ('diabetes', 'gandalf')
Missing Combination ('adult', 'catboost')
Missing Combination ('adult', 'mlp')
Missing Combination ('adult', 'tabnet')
Missing Combination ('adult', 'gate')
Missing Combination ('adult', 'resnet')
Missing Combination ('adult', 's1dcnn')
Missing Combination ('adult', 'categoryembedding')
Missing Combination ('adult', 'fttransformer')
Missing Combination ('adult', 'tabtransformer')
Missing Combination ('adult', 'gandalf')
Missing Combination ('adult', 'autoint')
Missing Combination ('housing', 'catboost')
Missing Combination ('housing', 'mlp')
Missing Combination ('housing', 'tabnet')
Missing Combination ('housing', 'gate')
Missing Combination ('housing', 'resnet')
Missing Combination ('housing', 's1dcnn')
Missing Combination ('housing', 'fttransformer')
Missing Combination ('housing', 'tabtransformer')
Missing Combination ('housing', 'gandalf')
Missing Combination ('housing', 'autoint')
Missing Combination ('creditcard', 'catboost')
Missing Combination ('creditcard', 'mlp')
Missing Combination ('creditcard', 'tabnet')
Missing Combination ('creditcard', 'gate')
Missing Combination ('creditcard', 'resnet')
Missing Combination ('creditcard', 's1dcnn')
Missing Combination ('creditcard', 'fttransformer')
Missing Combination ('creditcard', 'tabtransformer')
Missing Combination ('creditcard', 'gandalf')
Missing Combination ('creditcard', 'autoint')
Missing Combination ('creditcard', 'node')
Missing Combination ('heloc', 'catboost')
Missing Combination ('heloc', 'mlp')
Missing Combination ('heloc', 'tabnet')
Missing Combination ('heloc', 'gate')
Missing Combination ('heloc', 'resnet')
Missing Combination ('heloc', 's1dcnn')
Missing Combination ('heloc', 'fttransformer')
Missing Combination ('heloc', 'tabtransformer')
Missing Combination ('heloc', 'gandalf')
Missing Combination ('heloc', 'autoint')
Missing Combination ('covertype', 'xgb')
Missing Combination ('covertype', 'catboost')
Missing Combination ('covertype', 'mlp')
Missing Combination ('covertype', 'tabnet')
Missing Combination ('covertype', 'gate')
Missing Combination ('covertype', 'resnet')
Missing Combination ('covertype', 's1dcnn')
Missing Combination ('covertype', 'categoryembedding')
Missing Combination ('covertype', 'fttransformer')
Missing Combination ('covertype', 'tabtransformer')
Missing Combination ('covertype', 'gandalf')
Missing Combination ('covertype', 'autoint')
Missing Combination ('covertype', 'node')

In [6]:
[i for i in missing_combos if "xgb" in i]

[('covertype', 'xgb')]

In [7]:
[i for i in missing_combos if "node" in i]

[('creditcard', 'node'), ('covertype', 'node')]

In [8]:
best_df["dataset"].value_counts()

dataset
titanic          11
iris             10
breastcancer      7
ageconditions     6
diabetes          4
housing           3
heloc             3
creditcard        2
adult             2
Name: count, dtype: int64

In [36]:
df.loc[df["model"] == "gate"]["best_params"].iloc[2]

"{'AdamW_weight_decay': 2.084850753684019e-05, 'Adam_weight_decay': 9.742659197216048e-05, 'ExponentialLR_gamma': 0.9413668606403313, 'ReduceLROnPlateau_factor': 0.12672135640291163, 'ReduceLROnPlateau_patience': 4, 'batch_size': 53, 'chain_trees': False, 'embedding_dropout': 0, 'gflu_dropout': 0.02962414063792255, 'gflu_stages': 6, 'num_trees': 9, 'optimizer_fn': <class 'torch.optim.adam.Adam'>, 'scheduler_fn': <class 'torch.optim.lr_scheduler.ReduceLROnPlateau'>, 'tree_depth': 4, 'tree_dropout': 0.03626895389054083, 'tree_wise_attention_dropout': 0.04912261495844525, 'outer_params': {'hyperopt_evals': 50, 'auto_lr_find': True, 'max_epochs': 1000, 'val_size': 0.15, 'early_stopping_patience': 5}}"

# Execution Time Visualization

In [23]:
best_df.sort_values("run_time", ascending=False).head(20)

,dataset,model,run_time,eval_metric,best_score,score_std,output_metrics,lift,f1,mse,accuracy,recall,precision,roc_auc,area_under_pr,r2_score,rmse,lift_std,f1_std,mse_std,accuracy_std,recall_std,precision_std,roc_auc_std,area_under_pr_std,r2_score_std,rmse_std
41,titanic,gate,542.06,roc_auc,0.868173,0.027653,"{'recall': [0.8115942028985508, 0.764705882352...",2.482910,0.755746,NaN,0.811431,0.762873,0.749306,0.868173,0.839969,NaN,NaN,0.068732,0.031849,NaN,0.020119,0.046156,0.018810,0.027653,0.030412,NaN,NaN
15,creditcard,categoryembedding,501.36,lift,9.695353,0.128761,"{'recall': [0.9292929292929293, 0.949494949494...",9.695353,0.098446,NaN,0.968217,0.920656,0.052218,0.986143,0.736194,NaN,NaN,0.128761,0.025542,NaN,0.010511,0.023800,0.014207,0.006113,0.043292,NaN,NaN
17,diabetes,autoint,384.41,lift,2.394513,0.103216,"{'recall': [0.5704225352112676, 0.624394539850...",2.394513,0.271362,NaN,0.635576,0.607999,0.174736,0.675428,0.217688,NaN,NaN,0.103216,0.004744,NaN,0.013606,0.022473,0.003647,0.007759,0.011717,NaN,NaN
30,iris,gate,319.40,accuracy,0.966667,0.042164,"{'accuracy': [1.0, 1.0, 0.9333333333333333, 1....",NaN,0.966617,NaN,0.966667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.042243,NaN,0.042164,NaN,NaN,NaN,NaN,NaN,NaN
19,diabetes,node,303.69,lift,2.427092,0.072793,"{'recall': [0.5919894366197183, 0.626155878467...",2.427092,0.272623,NaN,0.636411,0.609665,0.175882,0.677912,0.219922,NaN,NaN,0.072793,0.006854,NaN,0.027978,0.035736,0.007003,0.005986,0.008984,NaN,NaN
18,diabetes,categoryembedding,296.93,lift,2.461436,0.081638,"{'recall': [0.5999119718309859, 0.615147512109...",2.461436,0.274144,NaN,0.635812,0.616097,0.176364,0.678853,0.227462,NaN,NaN,0.081638,0.003616,NaN,0.012810,0.018139,0.003400,0.005589,0.008308,NaN,NaN
33,iris,s1dcnn,242.23,accuracy,0.973333,0.038873,"{'accuracy': [1.0, 1.0, 0.9, 1.0, 0.9666666666...",NaN,0.973266,NaN,0.973333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.038970,NaN,0.038873,NaN,NaN,NaN,NaN,NaN,NaN
26,housing,xgb,232.26,r2_score,0.859503,0.006874,"{'mse': [0.1831939792077722, 0.184694181133948...",NaN,NaN,0.186964,NaN,NaN,NaN,NaN,NaN,0.859503,0.432294,NaN,NaN,0.007996,NaN,NaN,NaN,NaN,NaN,0.006874,0.009261
25,housing,node,129.46,r2_score,0.765564,0.014646,"{'mse': [0.29766848361477377, 0.32843469520249...",NaN,NaN,0.312236,NaN,NaN,NaN,NaN,NaN,0.765564,0.558427,NaN,NaN,0.022299,NaN,NaN,NaN,NaN,NaN,0.014646,0.019872
0,adult,node,119.51,roc_auc,0.915727,0.001935,"{'recall': [0.8534098151688974, 0.872448979591...",3.676791,0.691053,NaN,0.813734,0.864942,0.575460,0.915727,0.791102,NaN,NaN,0.049635,0.004897,NaN,0.004609,0.007608,0.007521,0.001935,0.006400,NaN,NaN
44,titanic,s1dcnn,113.74,roc_auc,0.859474,0.022807,"{'recall': [0.6956521739130435, 0.705882352941...",2.482910,0.734663,NaN,0.813659,0.672506,0.812428,0.859474,0.829729,NaN,NaN,0.068732,0.044496,NaN,0.031021,0.047909,0.060167,0.022807,0.025519,NaN,NaN
1,adult,xgb,110.29,roc_auc,0.928557,0.001319,"{'recall': [0.638623326959847, 0.6619897959183...",3.871984,0.712984,NaN,0.873683,0.651577,0.787306,0.928557,0.829554,NaN,NaN,0.030450,0.007890,NaN,0.003359,0.009964,0.010002,0.001319,0.003736,NaN,NaN
46,titanic,tabtransformer,109.22,roc_auc,0.855635,0.015617,"{'recall': [0.7101449275362319, 0.705882352941...",2.513981,0.716183,NaN,0.787892,0.701407,0.736116,0.855635,0.826855,NaN,NaN,0.134354,0.034202,NaN,0.020077,0.064537,0.035448,0.015617,0.013419,NaN,NaN
24,housing,categoryembedding,96.25,r2_score,0.676826,0.012901,"{'mse': [0.5237762638639207, 0.528938610418340...",NaN,NaN,0.516691,NaN,NaN,NaN,NaN,NaN,0.676826,0.718678,NaN,NaN,0.019760,NaN,NaN,NaN,NaN,NaN,0.012901,0.013913
45,titanic,tabnet,76.49,roc_auc,0.868711,0.022269,"{'recall': [0.6231884057971014, 0.735294117647...",2.544501,0.729584,NaN,0.792342,0.733845,0.739047,0.868711,0.838844,NaN,NaN,0.089689,0.020642,NaN,0.016948,0.083560,0.066366,0.022269,0.012954,NaN,NaN
39,titanic,fttransformer,72.61,roc_auc,0.878755,0.024506,"{'recall': [0.7971014492753623, 0.735294117647...",2.544225,0.760622,NaN,0.817023,0.759974,0.762957,0.878755,0.856651,NaN,NaN,0.081591,0.031325,NaN,0.020242,0.048996,0.027808,0.024506,0.023979,NaN,NaN
34,iris,tabnet,63.54,accuracy,0.973333,0.032660,"{'accuracy': [1.0, 1.0, 0.9333333333333333, 1....",NaN,0.973199,NaN,0.973333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.032826,NaN,0.032660,NaN,NaN,NaN,NaN,NaN,NaN
20,diabetes,xgb,61.44,lift,2.495782,0.086792,"{'recall': [0.025088028169014086, 0.0193747247...",2.495782,0.032579,NaN,0.888823,0.016817,0.562761,0.681723,0.234132,NaN,NaN,0.086792,0.009514,NaN,0.000170,0.005059,0.014121,0.005527,0.008144,NaN,NaN
21,heloc,categoryembedding,56.41,lift,1.712411,0.023609,"{'recall': [0.7298534798534798, 0.752747252747...",1.712411,0.718473,NaN,0.713261,0.702500,0.736876,0.788174,0.786406,NaN,NaN,0.023609,0.014015,NaN,0.006448,0.035903,0.013080,0.004356,0.005594,NaN,NaN
22,heloc,node,53.31,lift,1.732575,0.034667,"{'recall': [0.7252747252747253, 0.697802197802...",1.732575,0.722401,NaN,0.718329,0.702508,0.743740,0.797733,0.796848,NaN,NaN,0.034667,0.007870,NaN,0.004937,0.016570,0.004933,0.004226,0.006841,NaN,NaN

In [9]:
# Group by the "dataset" column and aggregate "run_time" using the sum function
hyperopt_evals = 1
num_parallel = 2
efficiency_estimate = 0.8
aggregated_df = best_df.groupby("model")["run_time"].sum().reset_index()
# Rename the aggregated column for clarity
aggregated_df = aggregated_df.rename(columns={"run_time": "sum_run_time"})
aggregated_df["total_search_hours_estimate"] = (
    aggregated_df["sum_run_time"] * hyperopt_evals / 60 / num_parallel * 0.8
)
aggregated_df.sort_values("total_search_hours_estimate", ascending=False).head(20)

                model  sum_run_time  total_search_hours_estimate
1   categoryembedding       1027.44                     6.849600
4                gate        861.46                     5.743067
6                node        675.51                     4.503400
10                xgb        473.41                     3.156067
0             autoint        435.23                     2.901533
7              s1dcnn        355.97                     2.373133
9      tabtransformer        181.81                     1.212067
3             gandalf        147.30                     0.982000
8              tabnet        140.03                     0.933533
5                 mlp         79.27                     0.528467
2       fttransformer         72.61                     0.484067

In [10]:
# Convert DataFrame to ASCII table
class Format:
    end = "\033[0m"
    underline = "\033[4m"


def make_results_table(
    df, dataset_name, display_cols, metric_cols, image_name="", dpi=1200, image_path="/home/boom/sdev/WTabRun/notebooks/tables/",
    image_folder = ""
):
    result_df = df.loc[df["dataset"] == dataset_name].reset_index(drop=True).copy()

    # Create a dictionary to store the indices of the rows with the highest values for each metric column
    max_indices = {}
    for metric in metric_cols:
        max_indices[metric] = result_df[metric].idxmax()

    # Modify all columns with std to include relative std
    result_df["best_score"] = result_df.apply(
        lambda row: f"{row['best_score']:.4f}  ({row['score_std']:.4f})", axis=1
    )
    for metric in metric_cols:
        result_df[metric] = result_df.apply(
            lambda row: f"{row[metric]:.4f}  ({row[metric+'_std']:.4f})", axis=1
        )
        # Drop the corresponding std column
        result_df.drop(columns=[metric + "_std"], inplace=True)

    result_df[display_cols].to_csv(rf"{image_path}/{image_folder}/{image_name}.csv")

    return result_df[display_cols]


# Define a custom styling function
def highlight_max_row(s):
    is_max = s == s.max()
    return ["background-color: green" if v else "" for v in is_max]


def highlight_min_row(s):
    is_max = s == s.min()
    return ["background-color: green" if v else "" for v in is_max]

In [11]:
folder = "hyperopt"

# Titanic

In [12]:
display_cols = [
    "model",
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
metric_cols = [
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
dataset_name = "titanic"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.style.apply(highlight_max_row, subset=metric_cols, axis=0)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png" , dpi=400)
styled_df

# Housing

In [13]:
display_cols = ["model", "mse", "r2_score", "rmse"]
metric_cols = ["mse", "r2_score", "rmse"]
dataset_name = "housing"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.style.apply(highlight_max_row, subset=["r2_score"], axis=0).apply(
    highlight_min_row, subset=["mse", "rmse"], axis=0
)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png", dpi=400)
styled_df

# Heloc

In [14]:
display_cols = [
    "model",
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
metric_cols = [
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
dataset_name = "heloc"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.style.apply(highlight_max_row, subset=metric_cols, axis=0)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png", dpi=400)
styled_df

# Diabetes

In [15]:
display_cols = [
    "model",
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
metric_cols = [
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
dataset_name = "diabetes"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.style.apply(highlight_max_row, subset=metric_cols, axis=0)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png", dpi=400)
styled_df

# Creditcard

In [17]:
display_cols = [
    "model",
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
metric_cols = [
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
dataset_name = "creditcard"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.style.apply(highlight_max_row, subset=metric_cols, axis=0)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png", dpi=400)
styled_df

# Adult

In [18]:
display_cols = [
    "model",
    "accuracy",
    "roc_auc",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
metric_cols = ["accuracy", "roc_auc", "f1", "recall", "precision", "area_under_pr"]
dataset_name = "adult"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.style.apply(highlight_max_row, subset=metric_cols, axis=0)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png", dpi=400)
styled_df

# Iris

In [19]:
display_cols = ["model", "accuracy", "f1"]
metric_cols = [
    "accuracy",
    "f1",
]
dataset_name = "iris"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.style.apply(highlight_max_row, subset=metric_cols, axis=0)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png", dpi=400)
styled_df

# Covertype

In [20]:
display_cols = ["model", "accuracy", "f1"]
metric_cols = ["accuracy", "f1"]
dataset_name = "covertype"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.style.apply(highlight_max_row, subset=metric_cols, axis=0)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png", dpi=400)
styled_df

ValueError: attempt to get argmax of an empty sequence

# Breastcancer

In [21]:
display_cols = [
    "model",
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
metric_cols = [
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
dataset_name = "breastcancer"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.sort_values("f1", ascending=False).style.apply(
    highlight_max_row, subset=metric_cols, axis=0
)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png", dpi=400)
styled_df

In [22]:
display_cols = [
    "model",
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
metric_cols = [
    "accuracy",
    "roc_auc",
    "lift",
    "f1",
    "recall",
    "precision",
    "area_under_pr",
]
dataset_name = "ageconditions"
df = make_results_table(
    best_df, dataset_name, display_cols, metric_cols, image_name=dataset_name, image_folder = folder, dpi=1200
)
# Apply the styling function to the specified columns
styled_df = df.sort_values("f1", ascending=False).style.apply(
    highlight_max_row, subset=metric_cols, axis=0
)
dfi.export(styled_df, f"./tables/{folder}/df_styled_{dataset_name}.png", dpi=400)
styled_df